azure-identity==1.17.1
azure-keyvault-secrets==4.7.0
azure-search-documents==11.6.0b4
openai==1.43.0
botbuilder-core==4.14.5
botbuilder-schema==4.14.5
botbuilder-integration-aiohttp==4.14.5
aiohttp==3.8.5
pypdf==4.3.1
python-dotenv==1.0.1
tiktoken==0.7.0
